.card {
  backdrop-filter: blur(23px) saturate(22%);
  -webkit-backdrop-filter: blur(23px) saturate(22%);
  background-color: rgba(115, 139, 230, 0.11);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}




.meteorContainer {
    z-index:1;
    width: 40%;
    height: 30%;
}

.meteor{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #ff9a03, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px #dd5d02);
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.meteor::before, .meteor::after{
    position: absolute;
    content: '';
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #ffc013, rgba(255, 233, 31, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3000ms ease-in-out infinite;
}

.meteor::after{
    transform: translateX(50%) rotateZ(-45deg);
}


.meteor:nth-child(1) { 
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    animation-delay: 650ms;
}
.meteor:nth-child(1)::before, .meteor:nth-child(1)::after {
    animation-delay: 650ms;
}
.meteor:nth-child(2) { 
    top: calc(50% - -50px);
    left: calc(50% - 190px);
    animation-delay: 150ms;
}

.meteor:nth-child(2)::before, .meteor:nth-child(2)::after {
    animation-delay: 150ms;
}
  
.meteor:nth-child(3) {
    top: calc(40% - -90px);
    left: calc(40% - 200px);
    animation-delay: 1600ms;
}
.meteor:nth-child(3)::before, .meteor:nth-child(3)::after {
    animation-delay: 1600ms;
}
  
.meteor:nth-child(4) {
    top: calc(50% - 50px);
    left: calc(50% - 250px);
    animation-delay: 4700ms;
}
.meteor:nth-child(4)::before, .meteor:nth-child(4)::after {
    animation-delay: 4700ms;
}
  
.meteor:nth-child(5) {
    top: calc(50% - -190px);
    left: calc(50% - 200px);
    animation-delay: 2100ms;
}
.meteor:nth-child(5)::before, .meteor:nth-child(5)::after {
    animation-delay: 2100ms;
}
  
/* Animations */
@keyframes tail {
    0% {
      width: 0;
    }
    
    30% {
      width: 100px;
    }
    
    100% {
      width: 0;
    }
  }
  
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(420px);
    }
  }